<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.example.KeyboardAttach</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/sion/.dotfiles/bin/xpc_set_event_stream_handler</string>
		<string>/Users/sion/.dotfiles/bin/switch_monitor.sh</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.device-attach</key>
			<dict>
				<key>idVendor</key>
        <integer>1452</integer>
        <!--<integer>1204</integer>-->
				<key>idProduct</key>
        <integer>613</integer>
        <!--<integer>63745</integer>-->
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
        <key>IOMatchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
